ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blanchedalmond;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* byter färg on hover till 111 */
li a:hover {
    background-color: blue;
}