* {
    margin: 0;
    padding: 0;
}

#svart {
    width: 100%;
    height: 200px;
    background-color: black;
}
#röd {
    width: 100%;
    height: 200px;
    background-color: red;
}
#gul {
    width: 100%;
    height: 200px;
    background-color: yellow;
}