*{
    margin: 0;
    padding: 0;
}


/*----------sidebar till vänster-------------*/


#sidebar1{
    width: 15vw;
    height: 100vh;
    background-color: red;
    float: left;
}

#sidebar1 a{
    background-color: #eee;
    color: black;
    text-decoration: none;
    display: block;
}

#sidebar1 a:hover{
    color: red;
}

/*------------sidebar till höger-------------*/


#sidebar2{
    width: 15vw;
    height: 100vh;
    background-color: red;
    float: right;
}
#header{
    width: 100vw;
    height: 15vh;
    background-color: yellow;
}
#content{
    width: 100vw;
    height: 70vh;
    background-color: black;
}
#footer{
    width: 100vw;
    height: 15vh;
    background-color: yellow;
}